{
    "extends": "airbnb",
    "rules": {
        "indent": [2, 4],
        "import/no-extraneous-dependencies": ["error", {"devDependencies": ["**/*.js", "tests/*.js"]}],
        "strict": 0
    },
    "env": {
        "mocha": true
    },
    "ecmaFeatures": {
        "jsx": false
    }
}
