{
    "extends": "airbnb",
    "rules": {
        "indent": [2, 4],
        "strict": 0,
        "no-underscore-dangle": 0,
        "import/no-extraneous-dependencies": ["error", {"devDependencies": ["**/tests/*.js"]}],
        "comma-dangle": ["error", {
            "arrays": "always-multiline",
            "objects": "always-multiline",
            "functions": "ignore"
        }]
    },
    "env": {
        "mocha": true
    },
    "ecmaFeatures": {
        "jsx": false
    }
}
