version: '3'
services:
  server:
    build: .
    ports:
        - "3000:3000"
    links:
        - postgres
    environment:
        - DB_HOST=postgres
        - DB_USERNAME=postgres
        - DB_PASSWORD=password
  postgres:
    image: library/postgres
    ports:
        - "5432:5432"
    environment: 
        - POSTGRES_DB=epubpress_development
        - POSTGRES_USER=postgres
        - POSTGRES_PASSWORD=password
    