extends layout

block content
    div(id='container')
        img(id='logo', src="images/logo-full.jpg")
        h1(id='title') EpubPress
        nav(id='nav-bar')
            each doc in docs
                a(href=`#${doc.id}`) #{doc.title}
        div(id='content')
            each doc in docs
                div(id=`${doc.id}`)
                != doc.html
                
    footer(align='center')
        h3 Made with 
            span(style='color:red;') &#10084; 
            | by 
            a(href='http://haroldtreen.com') Harold
