extends layout

block content
    div(id='container')
        img(id='logo', src="images/logo-full.jpg")
        h1(id='title')= title
        nav(id='nav-bar')
            - each doc in docs
                a(href='##{doc.id}') #{doc.title}
        div(id='content')
            - each doc in docs
                div(id='#{doc.id}')
                != doc.html
