extends layout

block content
  h1= title
  p Welcome to #{title}
  p Forgive us as we work on getting a pretty webpage up.
  p In the meantime, download the Chrome Extension and start making awesome ebooks! 
  a(href='https://github.com/haroldtreen/epub-press-chrome') Chrome Extension
