doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(href='https://fonts.googleapis.com/css?family=Quicksand:400,700' rel='stylesheet' type='text/css')
    link(rel="icon", type="image/png", href="images/favicon.png")
  body
    block content
