extends layout

block content
    div(id='container')
        img(id='logo', src="images/logo-full.jpg")
        h1(id='title') Thanks for supporting 
        h1(id='title') EpubPress!
        h1(id='title' style='color:red;') &#10084;
