body {
    margin: 30px 0px;
    padding: 0px;
    font: 18px;
    font-family: 'Lato', sans-serif;
}

h1, h2, h3, h4 {
    margin: 20px 0px 5px 0px;
    font-family: 'Quicksand', sans-serif;
}

p {
    margin: 10px 0px;
}

ul, ol {
    margin: 0px 5px;
}

li {
    margin: 10px 0px;
    line-height: 25px;
}

p {
    line-height: 25px;
}

nav {
    width: 100%;
    height: 50px;
    background-color: black;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 5px 0px;
}

nav > a {
    color: white;
    font-size: 15px;
    padding: 10px 25px;
    text-decoration: none;
    font-weight: bold;
}

nav > a:hover {
    color: black;
    background-color: white;
    border-radius: 5px;
}

#container {
    width: 100%;
    display: flex;
    align-content: center;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#content {
    max-width: 900px;
    width: 75%;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

#content > p > img, li > img {
    display: block;
    height: auto;
    width: auto;
    max-height: 350px;
    max-width: 100%;
    margin: 10px auto;
}

#links {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-grow: 1;
}

#logo {
    width: 150px;
    align-self: center;
}

#title {
    margin: 10px 0px;
    font-size: 70px;
    align-self: center;
    font-weight: bolder;
}

form, iframe {
    display: block;
    height: auto;
    width: auto;
    margin: 10px auto;
}
